@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    color: #757575;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
  }

  .btn-primary {
    background: linear-gradient(90deg, #7e90fe, #9873ff);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    color: #fff;
    font-weight: 800;
  }
  .btn-primary:hover {
    background: linear-gradient(90deg, #9873ff, #7e90fe);
  }
  .btn-primary:active {
    transform: scale(95%);
  }
  .text-primary {
    color: #1a1919;
  }
  .text-secondary {
    color: #474747;
  }

  .banner {
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
  }

  @media (hover: none) {
    * {
      cursor: default !important;
    }
  }
}

@layer base {
  .text-linear {
    @apply text-transparent bg-clip-text bg-gradient-to-t from-[#7E90FE] to-[#9873FF];
  }

  .mobile-nav-link {
    @apply w-full rounded-md px-4 py-2;
  }
  .mobile-nav-link.active {
    @apply bg-black/10 text-[#7E90FE];
  }
}
